body 
{
    margin: 0;
    background: rgb(17, 3, 44);
    padding: 50px 0px;
}
button.clear 
{
    background: #ce0707;
    color: #fff;
}
table 
{
    background: rgb(2, 1, 1);
    border: 6px solid #00000000;
    text-align: center;
    padding-bottom: 0px;
    border-radius: 10px;
}
button.equal {
    width: 88%;
    background: #210b04;
}
button.equal:hover{
	background: #000803;
}
input[type="text"] 
{
    width: 450px;
    height: 51px;
    border: 1px solid #000;
    padding: 10px 20px;
    font-size: 29px;
    background: #000000;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 10px;
    color: #dedede;
    border-bottom: 2px solid #cc4014;
}
button 
{
    padding: 10px 20px;
    width: 100px;
    height: 60px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    font-family: cursive;
    background: #000803;
    border: none;
    color: #d23200;
    border-radius: 6px;
    cursor: pointer;
}
button:hover{
	background: #27a5d6;
}